<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Adopter Baru</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Tambah Adopter Baru</h1>
    <form th:action="@{/adopters}" th:object="${adopter}" method="post">
        <div>
            <label for="nama">Nama</label>
            <input type="text" id="nama" th:field="*{nama}" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="nomor_telepon">No. Telepon</label>
            <input type="text" id="nomor_telepon" th:field="*{nomor_telepon}" required>
        </div>
        <div>
            <label for="addres">Alamat</label>
            <input type="text" id="addres" th:field="*{addres}" required>
        </div>
        <div>
            <button type="submit">Simpan</button>
        </div>
    </form>
    <a href="/adopters">Kembali ke Daftar Adopter</a>
</body>
</html>
