<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tambah Adopter Baru</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1>Tambah Adopter Baru</h1>
    <form th:action="@{/adopters/save}" th:object="${adopter}" method="post">
        <div>
            <label for="nama">Nama</label>
            <input type="text" id="nama" name="nama" required>
        </div>
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="nomor_telepon">No. Telepon</label>
            <input type="text" id="nomor_telepon" name="nomor_telepon" required>
        </div>
        <div>
            <label for="addres">Alamat</label>
            <input type="text" id="addres" name="addres" required>
        </div>
        <div>
            <button type="submit">Simpan</button>
        </div>
    </form>
    <a th:href="@{/}">Kembali ke Daftar Adopter</a>
</body>

</html>